@font-face {
  font-family: Avenir;
  src: url(./Avenir.ttc);
}
body {
  background: rgb(211, 186, 30); /**/
  font-family: Avenir;
  font-size: 14px;
  line-height: 1.6em;
  text-align: center;
  display: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
}
.container{
  position: absolute;
  left: 35%;
  top: 10%;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 600px;
  margin: 1rem;
  position: relative;
  width: 200px;
  
}
.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 20vw;
  float: left;
  
}

.card-3 {
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  float: left;
  margin-right: 0px;
}


li {
  font: 200 20px/1.5 Avenir;
  text-align: right;
  border-bottom: 3px solid #ccc;
}

li:last-child {
  border: none;
}
.small{
  font-size: 15px;
  margin-right: .5vw;
}
.large{
  display: inline-block;
  margin-right: 10px ;
  text-align: justify;
}
.numerical{
  display: inline-block;
  margin-right: .5vw;
}
.leftL{
  display: inline-block;
  margin-right: 15vw;
  text-align: left;
}
.rightR{
  display: inline-block;
  margin-right: .5vw;
}
.subscript{
  margin-right: .5vw;
  font-size: 15px;
}
.subscriptL{
  margin-right: 30vw;
  font-size: 15px;
}